@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model ciplatform.entities.ViewModels.UsersViewModel



<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">                          
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap" rel="stylesheet">
        <title>Login</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
        <link rel="icon" href="images/logo.png" type="image/x-icon">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div>
            @if (TempData["registered"] != null)
            {
            <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
            <script src="~/lib/jquery/dist/jquery.min.js"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
            <script type="text/javascript">
            toastr.success('@TempData["registered"]');
            </script>
            }
            @if (TempData["reset"] != null)
            {
            <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
            <script src="~/lib/jquery/dist/jquery.min.js"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
            <script type="text/javascript">
            toastr.success('@TempData["reset"]');
            </script>
            } 
            @if (TempData["forget"] != null)
            {
            <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
            <script src="~/lib/jquery/dist/jquery.min.js"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
            <script type="text/javascript">
            toastr.error('@TempData["forget"]');
            </script>
            }
             @if (TempData["Nregister"] != null)
            {
            <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
            <script src="~/lib/jquery/dist/jquery.min.js"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
            <script type="text/javascript">
            toastr.error('@TempData["Nregister"]');
            </script>
            }
            </div>
        <div class="main" style="padding-right: calc(var(--bs-gutter-x) * .0) !important;  padding-left: calc(var(--bs-gutter-x) * .0)!important;">
        <div class="conatiner-fluid login">
            <div class="row try">
                <div class="col-md-8 m-auto">
               <partial name="_bannerimages" />
                </div>
                <div class="col-md-4 justify-content-between d-flex flex-column" style="padding: 0 30px">
                <div class="row"></div>
                <div class="row">    
                    <div class="myform form ">
                        <div class="logo mb-3">
                            <div class="col-md-12 text-center">
                            <img src="~/images/logo.png" alt="optimy logo">                                    
                            </div>
                        </div>
                            
                        
                            <form asp-action="Index" method="post" asp-controller="User" name="login">
                            <div class="form-group" style="color:#adadad;">
                                <label for="exampleInputEmail1" >Enter your email address</label>
                                <input type="email" asp-for="Email"  class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
                                 @* <span class="text-danger" asp-validation-for="Email"></span>*@

                            </div>
                            @Html.ValidationMessageFor(model => model.Email,null, new{
                                  @class="text-danger",@style="text-size:1rem !important;"
                                   })
                            <div class="form-group" style="color:#adadad;">
                                <label for="exampleInputpass">Password</label>
                                <input type="password" asp-for="Password" id="password"  class="form-control" aria-describedby="emailHelp" placeholder="Enter Password">
                                @* <span class="text-danger" asp-validation-for="Password"></span>*@

                            </div>
                            @Html.ValidationMessageFor(model => model.Password,null, new{
                                @class="text-danger",@style="text-size:1rem !important;"
                            })
                            <div class="col-md-12 d-grid gap-2 text-center mt-2">
                               <button type="submit" class="btn btn-block mybtn btn-outline-warning" style="width:100%;">Login </button>
                              </div>
                            <div class="form-group mt-2">
                                <p class="text-center lostpas"><a asp-controller="Lostpass" asp-action="lostpas">Lost Your Password?</a></p>
                                </div>
                            <div class="form-group">
                                <p class="text-center" style="font-size: 0.8rem; color: #8d8a8a;">Don't have account? <a asp-controller="User" asp-action="register" id="signup">Create an Account</a></p>
                            </div>                
                        </form>                  
                    </div>
                    
                </div> 
                <div class="row privacyp">
                    <p><a asp-controller="Home" asp-action="PrivacyPolicy">Privacy Policy</a></p>
                </div>      
             </div>    
            </div>  
        </div>         
        </div>
        @section Scripts{
            @{
                <partial name="_ValidationScriptsPartial" />
            }
        }
    </body>
</html>