@using System.Text.RegularExpressions
@model ciplatform.entities.ViewModels.StoryListingViewModel
@inject IHttpContextAccessor Accessor

@{
         var userid= @Accessor.HttpContext.Session.GetString("sessionuserid");

}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap" rel="stylesheet">
    <title>Story Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <link rel="icon" href="" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/landing.css">
    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    
</head>

<body>
    <div class="d-flex">
        <div class="col-md-1 col-0"></div>

        <!--Main Navigation-->
        <div class="col-md-10 col-12">
            <header>
                <!-- Navbar -->
                <partial name="_header" />
                <!--Main  Navbar end -->

                <!-- Second nav bar -->
             <partial name="_searchfilterheader" />
                <!-- Second Navbar end -->
            </header>

            <div>
                <div class="d-flex align-items-center flex-wrap mt-2">

                    <div class="filters-section d-flex flex-wrap">
                    </div>
                    <div class="filter-list mt-auto" id="ClearBtn" style="display:none;"><span class="ms-2">Clear
                            All</span><button class="filter-close-button" id="clearbutton">&times;</button></div>
                </div>
                <!-- Div for filter -->
            </div>

            <!-- Inner page starts from here -->
        </div>
        <div class="col-md-1 col-0"></div>
    </div>

    <div class="storylistingimgbox position-relative mt-2">
        <img src="~/images/Grow-Trees-On-the-path-to-environment-sustainability-login.png" alt="">
        <div class="content position-absolute text-center ">
            <p class="mb-0 px-4 text-center labelText">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat
                cum, minus molestiae, veritatis optio vel expedita repellendus nihil et ratione nulla error, libero
                voluptate eos mollitia perspiciatis quaerat eligendi animi?</p>
            @{
                if(@userid==null)
                {
                     <a class="btn btn-outline-light mt-3 storyDetailBtn" onclick="notloggedin()">Share your Story <i
                    class="bi bi-arrow-right"></i></a>
                }
                else if(Model.missions.Count()==0)
                {
                    <a class="btn btn-outline-light mt-3 storyDetailBtn" onclick="notappliedalert()">Share your Story <i
                    class="bi bi-arrow-right"></i></a>
                }
                else
                {
                    <a type="submit" class="btn btn-outline-light mt-3 storyDetailBtn" asp-action="shareyourstory" asp-controller="StoryListing">Share your Story <i
                    class="bi bi-arrow-right"></i></a>
                }
            }
            
        </div>
    </div>


    <!--2nd Div-->
    <div class="d-flex">
        <div class="col-md-1 col-0"></div>
        <div class="col-md-10 col-12">
            <div class="container-fluid grid-container mt-3">
                <div class="row" id="storycards">
                    @{
                        foreach(var i in @Model.stories)
                        {   
                         var path=@i.StoryMedia.Where(m=>m.StoryId==i.StoryId && m.Type!="videourl" ).FirstOrDefault();

                         <div class="col-12 col-md-6 col-lg-4 mb-4">
                            <div class="card h-100">
                                <div class="imgBox position-relative">
                                    <img class="card-img-top" style="height:260px !important;"
                                        src="@path.Path"
                                        alt="mission img">
                                    <div class="content1 position-absolute text-center">
                                        <a type="button" class="btn btn-outline-light viewDetailBtn" onclick="ViewCount(@i.StoryId)">View Details
                                            <i class="bi bi-arrow-right"></i></a>
                                    </div>
                                </div>
                                <div>

                                    <p class="mb-0 position-absolute px-2 cardLabel btn-small rounded-pill bg-white mx-auto"
                                        style="margin-top: -10px;left: 50%;
                                    transform: translateX(-50%);">
                                        @i.Mission.Theme.Title</p>
                                </div>

                                <div class="card-body">
                                    <h5 class="card-title">@i.Title</h5>
                                        @{
                                            var text = Regex.Replace(i.Description, @"<[^>]+>|&nbsp;", "").Trim();

                                        }
                                        @{
                                            var SubText = @text; 
                                            if(@text.Length>150)
                                            {
                                                SubText = @text.Substring(0, 150);
                                            }
                                        }
                                    <p class="card-text text-secondary">@SubText</p>

                                    <div class="d-flex align-items-center">
                                        <img src="@i.User.Avatar" alt="" class="volunteerImg">
                                        <p class="mb-0 ms-3">@i.User.FirstName @i.User.SecondName</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                }
                }
                    
                </div>
            </div>
              <div class="footer">
            @{
               @if(@Model.totalstories==0 || @Model.stories.PageCount ==0)
                {
                     <div class="text-center mt-3 mb-4" style="height :43vh">
                    <p>No Story found</p>
                    <div class="newmission">
                        @{
                            if(@userid==null)
                            {
                                <button type="button" class="btn btn-outline-warning btn-rounded"onclick="notloggedin()">Submit New Story &nbsp; &nbsp;
                            <img src="~/Images/right-arrow.png" alt=""></button>
                                
                            }
                            else if(Model.missions.Count()==0)
                            {
                                     <button type="button" class="btn btn-outline-warning btn-rounded"onclick="notappliedalert()">Submit New Story &nbsp; &nbsp;
                            <img src="~/Images/right-arrow.png" alt=""></button>
                               
                            }
                            else
                            {
                                <a type="button" class="btn btn-outline-warning btn-rounded" asp-action="shareyourstory" asp-controller="StoryListing">Submit New Story &nbsp; &nbsp;
                            <img src="~/Images/right-arrow.png" alt=""></a>

                            }
                        }


                    </div>
                  </div>
                }
                else
                {
                    
                 <div class="d-flex justify-content-center page">
                 
                    @if (Model.stories.PageCount > 1)
                    {
                        <ul class="pagination">

                            @if (Model.stories.HasPreviousPage)
                            {
                                <li class="page-item"  style="cursor: pointer;"> <a class="page-link" aria-label="Previous" id="@Convert.ToInt32(@Model.stories.PageNumber -1)" ><span aria-hidden="true">&laquo;</span>
                                </a></li>
                            }
                            else
                            {
                                <li class="page-item" style="cursor: not-allowed;" > <a class="page-link disabled" aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
                                </a></li>
                            }
                            @for (int i = 1; i <= Model.stories.PageCount; i++)
                            {
                                if (i == Model.stories.PageNumber)
                                {
                                    <li class="page-item active" style="cursor: pointer;"><a style=" background-color: #F88634;border-color: #F88634;" class="page-link" id="@i">@i</a></li>
                                }
                                else
                                {
                                    <li class="page-item"  id="page-link-hover" style="cursor: pointer;"><a class="page-link" id="@i">@i</a></li>
                                }

                            }
                            @if (Model.stories.HasNextPage)
                            {
                                <li class="page-item" style="cursor: pointer;"> <a class="page-link" aria-label="Next" id="@Convert.ToInt32(@Model.stories.PageNumber +1)" ><span aria-hidden="true">&raquo;</span></a></li>
                            }
                            else
                            {
                                <li class="page-item" style="cursor: not-allowed; pointer-events: none;"> <a class="page-link disabled" aria-label="Next" ><span aria-hidden="true">&raquo;</span></a></li>
                            }


                        </ul>

                    }
                 </div>
                   

                }
                }
            </div> 
                            <partial name="_cifooter" />

        </div>
        <div class="col-md-1 col-0"></div>
    </div>

   <script>
        function ViewCount(storyId) {
                        $.ajax({
                        url : '/StoryListing/GetViewCount',
                        type : 'POST',
                        data : {
                        StoryId : storyId,
                        },
                        success : function (result){
                        window.location = result.redirectUrl;
                        }
                        });
                        }</script>
    <!--Main Navigation-->
                   
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"
        integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
          <script type="text/javascript" src="~/js/storySearchAndPagination.js"></script>
                     
</body>