@inject IHttpContextAccessor Accessor

@model ciplatform.entities.ViewModels.LandingViewModel
@using cloudscribe.Pagination.Models;
@{
         var userid= @Accessor.HttpContext.Session.GetString("sessionuserid");

}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap" rel="stylesheet">
    <title>Landing Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <link rel="icon" href="" type="image/x-icon">
    
    <link rel="stylesheet" href="~/css/landing.css">
    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    
</head>

<body>
    <div>
        
            @if (TempData["login"] != null)
            {
            <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
            <script src="~/lib/jquery/dist/jquery.min.js"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
            <script type="text/javascript">
            toastr.success('@TempData["login"]');
            </script>
            }
            </div>
    <div class="d-flex">
        <div class="col-md-1 col-0 "></div>

        <!--Main Navigation-->
        <div class="col-md-10 col-12">
            <header>
                <partial name="_header">
               
                <!--Main  Navbar end -->

                <!-- Second nav bar -->
             <partial name="_searchfilterheader" />
                <!-- Second Navbar end -->
            </header>

            <div class="d-flex flex-column" style="height :86vh">
                <div class="d-flex align-items-center flex-wrap mt-2">

                    <div class="filter-section d-flex flex-wrap">
                    </div>

                   @* <div class="filter-list mt-auto" id="ClearBtn">
                        <span class="ms-2">Clear
                            All</span><button class="filter-close-button" id="clearbutton">&times;</button></div>

                </div>*@
                <!-- Div for filter -->
            </div>

            <!-- Inner page starts from here -->


            <!-- Explore Missions -->
            <div class="d-flex justify-content-between mt-3 lgrid">
                <div><h2> Explore <strong><span id="count">@Model.totalrecord &nbsp;</span>Missions</strong></h2></div>
                <div class="position-relative">

                    <select id="sort">
                        <option value=0>Sort by</option>
                        <option value=1>Newest</option>
                        <option value=2>Oldest</option>
                        <option value=3>Lowest Available Seats</option>
                        <option value=4>Highest Available seats</option>
                        <option value=5>My favorite</option>
                        <option value=6>Deadline</option>
                    </select>
                    <span id="gird-list">
                        <a id="btngrid" class="btn btn-grid-list btn-grid ms-3 active border-0"><img src="~/images/grid.png"></a>
                        <a id="btnlist"class="btn btn-grid-list btn-list border-0"><img src="~/images/list.png"></a>
                    </span>
                  <script>  function myFunction(x) {
                    if (x.matches) { 
                        document.getElementById('btngrid').click();
                    }
                }

                var x = window.matchMedia("(max-width: 1000px)")
                myFunction(x)
                x.addListener(myFunction)
                </script>
                </div>
            </div>


            <!-- Cards START-->
            <div class="container-fluid grid-container mt-3 missioncount"id="grid-list">

                <div class="row cardsTResult" id="MissionDiv">
                    <!-- 1 st -->
                    @foreach (var i in Model.GetMissionDetails)
                    {
                       
                        <div class="col-12 col-md-6 col-lg-4 mb-4 cardsT">
                           
                            <div class="card h-100">

                                <div class="position-relative imgsize">
                                    <!--Closed Mission as badge-->
                                    @{
                                        if (userid == null)
                                        {

                                            if (@i.EndDate < DateTime.Now)
                                            {
                                                <div class="d-flex position-absolute pt-2 badgeclass">
                                                    <span class="badge1 bg-warning ms-1 pt-2" style="background-color:#ffc107 !important">Closed</span><div class="arrow-right"></div>
                                                </div>
                                            }
                                        }
                                        else
                                        {
                                            var appliedchked = i.MissionApplications.Where(m => m.UserId.ToString() == @userid && m.MissionId == @i.MissionId).FirstOrDefault();

                                         if( @appliedchked != null)
                                            {
                                                 <div class="d-flex position-absolute pt-2 badgeclassapplied">
                                                    <span class="badge1 bg-warning ms-1 pt-2" style="background-color:#198754 !important">Already Applied</span><div class="arrow-rightapplied"></div>
                                                </div>

                                            }
                                            else if (@i.EndDate < DateTime.Now)
                                            {
                                                <div class="d-flex position-absolute pt-2 badgeclass">
                                                    <span class="badge1 bg-warning ms-1 pt-2" style="background-color:#ffc107 !important">Closed</span><div class="arrow-right"></div>
                                                </div>
                                            }
                                        }
                                    }
                                    @{
                                       var missionwithmedia=@Model.missionMedia.Where(m=>m.MissionId==i.MissionId).FirstOrDefault() ;
                                <img class="card-img-top" id="cardImg" style="height:260px"
                                    src="@missionwithmedia.MediaPath@missionwithmedia.MediaName"         
                                alt="Card image cap">
                                    }
                                <div class="position-absolute c1-location py-1 px-2">
                                    <img src="~/images/pin.png" alt="Location">
                                    @i.City.Name
                                   
                                   
                                </div>
                                    <div class="position-absolute c1-heart favouritediv-@i.MissionId" style="height:35px; width: 38px;">


                                        @{
                                            var favchks = i.FavouritMissions.Where(m => i.MissionId == m.MissionId && m.UserId.ToString() == @userid).FirstOrDefault();
                                if(@userid==null)
                                {
                                    <a  class="btn ps-2 py-1" onclick="notloggedin()"><img src="~/images/heart.png" alt=""> </a>
                                }
                              else if(favchks==null)
                                {
                                    
                               <a  class="btn ps-2 py-1 " onclick="addToFavourite(@i.MissionId)"
                                    ><img src="~/images/heart.png" alt=""/>
                                    </a>
                                }
                                else
                                {
                                
                                     <a  class="btn ps-1 py-1"  onclick="addToFavourite(@i.MissionId)"><img style="margin-left:2px; margin-top:1px" src="~/images/red-heart (1).png" alt=""> </a>
                                }
                                }

                                </div>
                                @*<div class="position-absolute c1-person" style="height:35px; width: 38px;">*@
                                    @if(@userid!=null)
                                     {
                                        <a href=""class="position-absolute c1-person apply" style="height:35px; width: 38px;" data-bs-toggle="modal" data-bs-target="#exampleModal" 
                                        onclick="btnuser(@i.MissionId)"><img src="~/images/user.png" class="ps-2 py-2" alt=""></a>
                                         <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                     
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Recommend to a Co-Worker</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">

                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                    <button type="button" class="btn btn-primary" id="sendmail">Send mail</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                     }
                                     else
                                     {
                                            <a class="position-absolute c1-person" onclick="notloggedin()" style="height:35px; width: 38px;cursor: pointer;"><img src="~/images/user.png" class="ps-2 py-2" alt=""></a>
                                     }
                                

                                
                                <div>
                                    <p class="mb-0 position-absolute px-2" id="missionTheme">@i.Theme.Title</p>
                                </div>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title" style="height:7vh;" >@i.Title</h5>
                                <p class="short-desc card-text text-secondary"  style="height:11vh;" >@Html.Raw(@i.ShortDescription)</p>

                                <div class="d-flex justify-content-between align-items-center mb-3 cardstar">
                                    <div class="card-text">
                                        @i.OrganizationName
                                    </div>

                                    <div>
                                             @{
                                                    var mission_ratings = Model.MissionRatings.Where(m => m.MissionId == @i.MissionId).Select(m => m.Rating);
                                        if(mission_ratings.Count() != 0)
                                        {
                                            var avg_mission_ratings = Convert.ToInt32(Queryable.Average(mission_ratings.AsQueryable()));
                                            for(int m=1;m<=5;m++)
                                            {
                                                if(m<=avg_mission_ratings)
                                                {
                                                    <img src="~/images/selected-star.png" alt="">
                                                }
                                                else
                                                {
                                                    <img src="~/images/star.png" alt="">
                                                }
                                            }
                                        }
                                        else
                                        {
                                            {
                                                for (int m = 1; m <= 5; m++)
                                                {
                                                 <img src="~/images/star.png" alt="">
                                                }
                                            }
                                        }
                                      
                                }
                                        
                                    </div>
                                </div>

                                <div class="border-top border-bottom pb-3 position-relative pt-3">
                                    <div class="d-flex justify-content-between mt-2">
                                        <div class="d-flex align-items-center">
                                            <div class="mt-1 pe-0 me-2">
                                                <img src="~/images/Seats-left.png" alt="" width="25px" height="25px">
                                            </div>
                                            <div class="px-0">
                                                    @{
                                                        var seats_used = 0;
                                                        foreach(var missionApplication in i.MissionApplications.Where(m=>m.MissionId==i.MissionId && m.ApprovalStatus=="approved"))
                                                        {
                                                            seats_used++;
                                                        }
                                                        var seats_left = @i.TotalSeat - seats_used ;
                                                    }
                                                <h5 class="mb-0 mt-1">@seats_left</h5>
                                                <p class="mb-0">Seats left</p>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <div class="mt-1 me-2 p-0">
                                                <img src="~/images/deadline.png" alt="" width="30px" height="30px">
                                            </div>
                                                @if (i.MissionType == true)
                                                {
                                                    <div class="px-0">
                                                        <h5 class="mb-0 mt-1">
                                                             @{string[] DeadlineDate = @i.DeadlineDate.ToString().Split( ' ' );}

                                                            @DeadlineDate[0]
                                                        </h5>
                                                        <p class="mb-0">Deadline</p>
                                                    </div>
                                                }
                                                else
                                                {
                                                 <div class="px-0">
                                                    <h5 class="mb-0 mt-1">
                                                        <div class="progress" role="progressbar" aria-label="Basic example"
                                                            aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                                        @{
                                                        var goal_achived = 0;

                                                
                                                        foreach(var timesheet in @i.Timesheets.Where(m => m.MissionId == i.MissionId))
                                                        {
                                                        goal_achived = goal_achived + Convert.ToInt32(timesheet.Action);
                                                        }
                                
                                                        var total_goal = @i.GoalMissions.Where(m => m.MissionId == i.MissionId).FirstOrDefault();
                                                        var goal_percent = (goal_achived  * 100 ) / total_goal.GoalValue;
                                                
                                                        }
                                                            <div class="progress-bar" style="width: @goal_percent%;background-color: #F88634;">
                                                            </div>
                                                        </div>
                                                    </h5> 
                                                        
                                                    <p class="mb-0 " style="color: #757575;">@goal_achived Achieved</p>
                                            </div>
                                                  
                                                }
                                            </div>
                                    </div>
                                    <div class="roundedSection text-center position-absolute" id="missionDeadline">
                                        <p class="mb-0 px-1" style="font-size: 10px;">
                                                @{
                                                    if(DateTime.Now >=i.StartDate && i.EndDate >=DateTime.Now)
                                                    {
                                                        <span>Ongoing Opportunity</span>
                                                    }
                                                   
                                                    else if(@i.MissionType==true)
                                                    {
                                                        <span>From @i.StartDate.Value.ToShortDateString() until @i.EndDate.Value.ToShortDateString()</span>
                                                    }
                                                    else
                                                    {
                                                        var goal_based = @i.GoalMissions.Where(m => m.MissionId == i.MissionId).FirstOrDefault();
                                                        <span> @goal_based.GoalObjectiveText</span>
                                                    }
                                                }
                                            </p>
                                        </div>
                                    </div>
                                    <div class="card-footer text-center">
                                        @{
                                             var appliedchk = i.MissionApplications.Where(m => m.UserId.ToString() == @userid && m.MissionId == @i.MissionId).FirstOrDefault();

                                            if (i.EndDate < DateTime.Now)
                                          { 
                                     <a > <a type="submit" name=Missionid asp-controller="LandingPage" asp-action="VolunteeringMission" asp-route-mid=@i.MissionId class="btn btn-rounded btn-outline-warning">
                                        Explore 
                                       <img src="/Images/right-arrow.png" alt=""></a></a>
                                            }
                                            else if( appliedchk != null)
                                            {
                                                 <a type="submit" style="border-radius: 40px;" name="Missionid" asp-controller="LandingPage" asp-action="VolunteeringMission" asp-route-mid=@i.MissionId class="btn btn-success">
                                        View Details 
                                       <img src="~/images/right-arrow-b.png" alt=""></a>

                                            }
                                            
                                      else
                                      {
                                           <a> <a type="submit" style="border-radius: 40px;"name=Missionid asp-controller="LandingPage" asp-action="VolunteeringMission" asp-route-mid=@i.MissionId class="btn btn-rounded btn-outline-warning">
                                        Apply 
                                       <img src="/Images/right-arrow.png" alt=""></a></a>
                                      }
                                        }
                                </div>
                            </div>
                        </div>
                    </div>
                    }
                    
                </div>

            </div>
            <!-- Cards END -->
            
        
    <!--Footer for Pagination-->
          <div class="footer mb-auto">
            @{
               if(@Model.totalrecord==0 || @Model.GetMissionDetails.PageCount ==0)
                {
                     <div class="text-center mt-3 mb-4">
                    <p>No Mission found</p>
                    <div class="newmission">
                        <button type="button" class="btn btn-outline-warning btn-rounded">Submit New Mission &nbsp; &nbsp;
                            <img src="~/Images/right-arrow.png" alt=""></button>
                    </div>
                  </div>
                }
                else
                {

                 <div class="d-flex justify-content-center page">
                    @if (Model.GetMissionDetails.PageCount > 1)
                    {
                        <ul class="pagination">

                            @if (Model.GetMissionDetails.HasPreviousPage)
                            {
                                <li class="page-item"  style="cursor: pointer;"> <a class="page-link" aria-label="Previous" id="@Convert.ToInt32(@Model.GetMissionDetails.PageNumber -1)" ><span aria-hidden="true">&laquo;</span>
                                </a></li>
                            }
                            else
                            {
                                <li class="page-item" style="cursor: not-allowed; pointer-events: none; "> <a class="page-link disabled" aria-label="Previous" > <span aria-hidden="true">&laquo;</span>
                                </a></li>
                            }
                            @for (int i = 1; i <= Model.GetMissionDetails.PageCount; i++)
                            {
                                if (i == Model.GetMissionDetails.PageNumber)
                                {
                                    <li class="page-item active" style="cursor: pointer;"><a style=" background-color: #F88634;border-color: #F88634;" class="page-link" id="@i">@i</a></li>
                                }
                                else
                                {
                                    <li class="page-item" id="page-link-hover" style="cursor: pointer; "><a class="page-link" id="@i">@i</a></li>
                                }

                            }
                            @if (Model.GetMissionDetails.HasNextPage)
                            {
                                <li class="page-item" style="cursor: pointer;"> <a class="page-link" aria-label="Next" id="@Convert.ToInt32(@Model.GetMissionDetails.PageNumber +1)" ><span aria-hidden="true">&raquo;</span></a></li>
                            }
                            else
                            {
                                <li class="page-item" style="cursor: not-allowed; pointer-events: none;" > <a class="page-link disabled" aria-label="Next" ><span aria-hidden="true">&raquo;</span></a></li>
                            }


                        </ul>

                    }
                </div>
               

                }
                }
                  
            </div> 
              <partial name="_cifooter" />
      </div>
        <div class="col-md-1 col-0"></div>
    </div>


<script>
    function addToFavourite(missionId)
                   {
                        var favbutton=$('.favourite')
                        
                            $.ajax({
                                url:"/LandingPage/favouritelanding",
                                type:"POST",
                                data:{
                                    userid:"@userid",
                                    MissionId:missionId
                                },
                               success: function (response){
                                $(`.favouritediv-${missionId}`).html($(response).find(`.favouritediv-${missionId}`).html());
                            console.log(response);
                               }
                            });
                         filterMission();
                }


             
</script>
<script>
function senduser(missionId) {
    debugger;
    var selecteduserid = [];
    $('.modal-body input[type="checkbox"]:checked').each(function () {
            var recID = $(this).attr("id").split('-');

            selecteduserid.push(recID[1]);
    });
    if(selecteduserid.length == 0)
    {
        usernotselected();
    }
    else
    {
    console.log(selecteduserid);
    $.ajax({
            type: "POST",
            //usersbyId for sending mail
            url: '/LandingPage/SendmailByUserid',
            data: {
                //ids is selected user's id
                ids: selecteduserid,
                missionid:missionId,
                from_id: "@userid"
                },
           traditional: true,
       });
       Sendmail();
    }
                }
             
    function btnuser(missionId){
        $.ajax({
            url: '/LandingPage/getusers',
            data: {

                Userid: "@userid"
            },
            success: function (result) {
                $('.modal-body').empty();
                $.each(result, function (i, data) {

                    $('.modal-body').append('<div class="form-check ms-3"><input class="form-check-input checkbox" type="checkbox" value="' + data.firstName
                        + " " + data.secondName + '" id=rec-' + data.userId + '><label class="form-check-label" for=rec-' + data.userId + '>' + data.firstName + " " + data.secondName + '</label></div>')
                });

            }
        });
        //sendmail is id for sending the mail using senduser()
        $('#sendmail').click(function () {
            senduser(missionId);
        })

};


</script>
                <!--FilterSortingAndPagination-->
                <script src="~/js/conditions.js" type="text/javascript"></script>
                     <script type="text/javascript" src="~/js/landing.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"
        integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>


</body>