@inject IHttpContextAccessor Accessor
@model ciplatform.entities.ViewModels.TimeSheetViewModel;
@{
         var userid= @Accessor.HttpContext.Session.GetString("sessionuserid");

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Volunteer TimeSheet</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/timesheet.css">
</head>
<body>

   
         <div class="d-flex">
        <div class="col-md-1 col-0"></div>

        <!--Main Navigation-->
        <div class="col-md-10 col-12">
            <header>
                <!-- Navbar -->
                    <partial name="_header" />
                </header>
        <div class=" display-6 mt-5">Volunteering Timesheet</div>
        <div class="row gap-3 mx-1">
            <!--For Time base-->
            <div class="col mt-3 border">
                <div class="d-flex mt-4 mb-4 justify-content-between ps-1">
                    <span>Volunteering Hours</span>
                    <button class="add btn" data-bs-toggle="modal" data-bs-target="#TimeBased">
                        + Add
                    </button>

                    <div class="modal fade" id="TimeBased" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Please input below Volunteering Hours</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                          <!--For Time based-->
                                <form id="TimeSheetMissions">
                                    <div class="modal-body">
                                        <div class="d-flex flex-column">
                                            <label for="mission">Mission</label>
                                            <select id="missiontime" name="missionid">
                                                <option value="-1">Select Mission</option>
                                            </select>
                                           <span id="TitleValid" class="d-none" style="font-size:14px;color:red">Please Select Mission Title</span>

                                        </div>
                                        <div class="d-flex flex-column mt-2">
                                            <label for="date">Date Volunteered</label>
                                            <input id="timeDate" type="date" placeholder="select date" name="date"/>
                                            <span id="SheetDate" class="d-none" style="font-size:14px;color:red">Select a date</span>
                                            <span id="SheetDateLimit" class="d-none" style="font-size:14px;color:red">Date can not be more than today's date</span>

                                        </div>
                                        <div class="d-flex mt-2 justify-content-between">
                                            <div class="d-flex flex-column mt-2">
                                                <label for="hour">Hours</label>
                                                <input type="number" onkeydown="return handleKeyDown(event)" id="hour" name="hour" />
                                               <span id="Sheethour" class="d-none" style="font-size:14px;color:red">Enter Hour</span>

                                            </div>
                                            <div class="d-flex flex-column mt-2">
                                                <label for="minute">Minutes</label>
                                                <input type="number" onkeydown="return handleKeyDown(event)" id="minute" name="minute" />
                                               <span id="Sheetmin" class="d-none" style="font-size:14px;color:red">Enter Minute</span>
                                            </div>
                                        </div>
                                        <div class="d-flex flex-column mt-2">
                                            <label for="message">Message</label>
                                            <textarea id="message" placeholder="Enter your message" name="message"></textarea>
                                               <span id="TimeMessage" class="d-none" style="font-size:14px;color:red">Enter a Message</span>
                                        </div>
                                    </div>
                               

                                <div class="modal-footer">
                                    <button type="button" id="btnclose" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </div>
                                 </form>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="w-100 ms-1 font" id="timebasedTable">
                        @{
                            if (Model.missiontimesheet.Where(m => m.UserId.ToString() == @userid).Count() == 0)
                            {
                                <th class="text-center">No Time Based TimeSheet Added</th>
                            }
                            else
                            {
                                <thead>
                                    <th>Mission</th>
                                    <th style="text-align: center;">Date</th>
                                    <th>Hours</th>
                                    <th>Minutes</th>
                                    <th></th>
                                    <th></th>
                                </thead>

                                foreach (var missions in Model.missiontimesheet.Where(m => m.Status == true))
                                {
                                    <tr>
                                        <td>@Html.Raw(@missions.Mission.Title)</td>
                                        <td style="text-align: center;">@missions.DateVolunteer.ToString("d")</td>
                                        <td style="text-align: center;">@missions.Time?.ToString("hh")</td>
                                        <td style="text-align: center;">@missions.Time?.ToString("mm")</td>
                                        <td style="text-align: center;"><a class="btn" data-bs-toggle="modal" data-bs-target="#EditTimeBased" onclick="timeediting(@missions.TimesheetId)"><i class="bi bi-pencil-square icon"></i></td>

                                        <div class="modal fade" id="EditTimeBased" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Time Based Missions</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <!--For Time based-->
                                             <form class="EditgoalForm" id="@missions.TimesheetId">
                                                        <div class="modal-body" id="editTimeData">
                                                            <div class="d-flex flex-column">
                                                                <label for="mission">Mission</label>
                                                                <select id="EditTimemissions" name="missionid">

                                                                </select>
                                                            </div>
                                                            <input type="hidden" name="timesheetid" value="@missions.TimesheetId" />

                                                            <div class="d-flex flex-column mt-2">
                                                                <label for="date">Date Volunteered</label>
                                                                <input type="date" placeholder="select date" name="date"/>
                                                            </div>
                                                            <div class="d-flex mt-2 justify-content-between">
                                                                <div class="d-flex flex-column mt-2">
                                                                    <label for="hour">Hours</label>
                                                                    <input type="number" onkeydown="return handleKeyDown(event)" id="hour" name="hour" />
                                                                </div>
                                                                <div class="d-flex flex-column mt-2">
                                                                    <label for="minute">Minutes</label>
                                                                    <input type="number" onkeydown="return handleKeyDown(event)" id="minute" name="minute" />
                                                                </div>
                                                            </div>
                                                            <div class="d-flex flex-column mt-2">
                                                                <label for="message">Message</label>
                                                                <textarea id="message" placeholder="Enter your message" name="message"></textarea>
                                                            </div>
                                                        </div>


                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Save</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <td style="text-align: center;"><a class="btn" onclick="DeleteDataTimeSheet(@missions.TimesheetId)"><i class="bi bi-trash3"></i></a></td>
                                    </tr>
                                }
                            }
                        }
                </table>
            </div>
            <!--For goal base-->
            <div class="col mt-3 border tablemargin">
                <div class="d-flex mt-4 mb-4 justify-content-between ps-1">
                    <span>Volunteering Goals</span>
                    <button class="add btn" data-bs-toggle="modal" data-bs-target="#GoalBased">
                        + Add
                    </button>

                    <div class="modal fade" id="GoalBased" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="Goal Based Missions" id="exampleModalLabel">Please input below Volunteering Goals</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <form id="goalForm">
                                <div class="modal-body">
                                    <div class="d-flex flex-column">
                                        <label for="mission">Mission</label>
                                        <select id="goalmissions" name="missionId">
                                            <option value="-1">Select Mission</option>
                                        </select>
                                         <span id="GoalTitleValid" class="d-none" style="font-size:14px;color:red">Please Select Mission Title</span>

                                    </div>
                                    <div class="d-flex flex-column mt-2">
                                        <label for="action">Actions</label>
                                        <input id="goaalAction" type="number" onkeydown="return handleKeyDown(event)" name="action" />
                                        <span id="actionvalid" class="d-none" style="font-size:14px;color:red">Please Enter Action</span>
                                        
                                    </div>

                                    <div class="d-flex flex-column mt-2">
                                        <label for="date">Date Volunteered</label>
                                        <input type="date" name="date" min="01-01-2020" placeholder="select date" />
                                    </div>
                                        <span id="GoalDateValid" class="d-none" style="font-size:14px;color:red">Please Enter Action</span>

                                    <div class="d-flex flex-column mt-2">
                                        <label for="message">Message</label>
                                        <textarea id="goalMessage" name="message" placeholder="Enter your message"></textarea>
                                    </div>
                                       <span id="MessageValid" class="d-none" style="font-size:14px;color:red">Please Enter Message</span>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" id="goalbtnclose" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary" >Save</button>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="w-100 ms-1" id="goalbasedTable">
                        @{
                            if (Model.missiongoalsheet.Where(m=>m.UserId.ToString()==@userid).Count() == 0)
                            {
                                <th class="text-center">No Goal Based TimeSheet Added</th>
                            }
                            else
                            {
                                <thead>
                                    <th>Mission</th>
                                    <th style="text-align: center;">Date</th>
                                    <th style="text-align: center;">Action</th>
                                    <th></th>
                                    <th></th>
                                </thead>

                                foreach (var missions in Model.missiongoalsheet.Where(m => m.Status == true))
                                {
                                    <tr>
                                        <td>@Html.Raw(@missions.Mission.Title)</td>
                                        <td style="text-align: center;">@missions.DateVolunteer.ToString("d")</td>
                                        <td style="text-align: center;">@missions.Action</td>
                                        <td style="text-align: center;"><a class="btn" data-bs-toggle="modal" data-bs-target="#GoalBasedEdit" onclick="goalediting(@missions.TimesheetId)"><i class="bi bi-pencil-square icon"></i></a></td>

                                        <div class="modal fade" id="GoalBasedEdit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="Please input below Volunteering Goal" id="exampleModalLabel">Goal Based Missions</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <form class="EditgoalForm" id="@missions.TimesheetId">

                                                        <div class="modal-body" id="editGoalData">
                                                            <div class="d-flex flex-column">
                                                                <label for="mission">Mission</label>
                                                                <select id="EditGoalmissions" name="missionId">

                                                                </select>
                                                            </div>
                                                            <input type="hidden" name="timesheetid" value="@missions.TimesheetId" />

                                                            <div class="d-flex flex-column mt-2">
                                                                <label for="action">Actions</label>
                                                                <input type="number" onkeydown="return handleKeyDown(event)" name="action" />
                                                            </div>
                                                            <div class="d-flex flex-column mt-2">
                                                                <label for="date">Date Volunteered</label>
                                                                <input type="date" name="date" placeholder="select date" />
                                                            </div>
                                                            <div class="d-flex flex-column mt-2">
                                                                <label for="message">Message</label>
                                                                <textarea name="message" placeholder="Enter your message"></textarea>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button"  class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                            <button type="submit"  class="btn btn-primary" data-bs-dismiss="modal">Save</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>

                                        <td style="text-align: center;"><a class="btn" onclick="DeleteDataTimeSheet(@missions.TimesheetId)"><i class="bi bi-trash3"></i></a></td>
                                    </tr>
                                }
                            }
                        }
               
                </table>
            </div>
        </div>

    </div>
            <div class="col-md-1 col-0"></div>

    </div>

    <script src="https://code.jquery.com/jquery-latest.min.js"></script>

           
            <script src="~/js/TimeSheet.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    
</body>
</html>