@model ciplatform.entities.ViewModels.MissionPageForAdminViewModel
@{
    Layout = "~/Views/Admin/AdminPage.cshtml";
}
<head>
         <title>Add/Edit Mission Page</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/AdminUserPage.css">
</head>
<body>


    <div class="border d-flex" style="background-color:#f8f9fc; height : 70px; align-items: center;">
        <h3 class="ms-2">Add/Edit Mission</h3>
    </div>
    <form method="post" asp-action="AddMission" asp-controller="Admin" enctype="multipart/form-data" id="missionForm">
        <div class="container-fluid p-0 mt-2">

            <div class=" p-2 border">

                <div class="col-12 d-flex flex-column my-2">
                    <label for="title">Mission Title</label>
                    <input type="text" id="title" class="form-control" asp-for="Title">
                    <span type="text" class="text-danger" asp-validation-for="Title"></span>
                </div>
                <input asp-for="MissionId" id="missionhide" hidden />
                <div class="col-12 d-flex flex-column my-2">
                    <label for="orgname">Mission Organisation Name</label>
                    <input type="text" id="orgname" class="form-control" asp-for="OrganizationName">
                    <span type="text" class="text-danger" asp-validation-for="OrganizationName"></span>

                </div>
                <div class="col-12 d-flex flex-column my-2">
                    <label for="orgname">Mission Short Descrition</label>
                    <input type="text" id="orgname" class="form-control" asp-for="ShortDescription">
                    <span type="text" class="text-danger" asp-validation-for="ShortDescription"></span>

                </div>
                <div class="col-12 d-flex flex-column my-2">
                    <label for="orgdetail">Mission Organisation Detail</label>
<textarea id="orgdetail" cols="30" rows="5" class="form-control" asp-for="OrganizationDetail"></textarea>
                    <span type="text" class="text-danger" asp-validation-for="OrganizationDetail"></span>

                </div>

                <div class="col-12 my-3 d-flex flex-column ">
                    <label for="desc">Mission Description</label>
<textarea id="storytext" placeholder="I loved this mission because..." asp-for="Description"></textarea>
                    <span id="textValidate" class="text-danger"></span>
                </div>
                @if (Model == null)
                {
                    <div class="row">
                        <div class="col-6 d-flex flex-column">
                            <label>Country</label>
                            <select class="form-select dropdown-toggle" asp-for="CountryId" id="countryselect">
                                <option value="countryselect">Select List</option>
                            </select>
                            <span type="text" class="text-danger" asp-validation-for="CountryId"></span>

                        </div>
                        <div class="col-6 d-flex flex-column">
                            <label>City</label>
                            <select class="form-select dropdown-toggle" data-toggle="dropdown" asp-for="CityId" id="cityselect">
                                <option value="">Select List</option>
                            </select>
                            <span type="text" class="text-danger" asp-validation-for="CityId"></span>

                        </div>
                    </div>
                }
                else
                {
                    <div class="row">
                        <div class="col-6 d-flex flex-column">
                            <label>Country</label>
                            <select class="form-select dropdown-toggle" asp-for="CountryId" id="countryselect" asp-items="@Model.countries">
                                <option value="">Select List</option>
                            </select>
                            <span type="text" class="text-danger" asp-validation-for="CountryId"></span>

                        </div>
                        <div class="col-6 d-flex flex-column">
                            <label>City</label>
                            <select class="form-select dropdown-toggle" data-toggle="dropdown" asp-for="CityId" id="cityselect" asp-items="@Model.cities">
                                <option value="">Select List</option>
                            </select>
                            <span type="text" class="text-danger" asp-validation-for="CityId"></span>

                        </div>
                    </div>
                }


                <div class="row">
                    @if (Model == null)
                    {
                        <div class="col-sm-4 d-flex flex-column my-3">
                            <label for="theme">Theme</label>
                            <select class="form-select dropdown-toggle" id="themeselect" data-toggle="dropdown" asp-for="ThemeId">
                                <option value="themeselect" selected>Select List</option>
                            </select>
                            <span type="text" class="text-danger" asp-validation-for="ThemeId"></span>
                        </div>
                    }
                    else
                    {
                        <div class="col-sm-4 d-flex flex-column my-3">
                            <label for="theme">Theme</label>
                            <select class="form-select dropdown-toggle" id="themeselect" data-toggle="dropdown" asp-for="ThemeId" asp-items="@Model.Themes">
                                <option value="">Select List</option>
                            </select>
                            <span type="text" class="text-danger" asp-validation-for="ThemeId"></span>

                        </div>
                    }

                    <div class="col-sm-4 d-flex flex-column my-3">
                        <label for="missionType">MissionType</label>





                        <select class="form-select dropdown-toggle" id="avail12" data-toggle="dropdown" asp-for="MissionType" onchange="Mission()">
                            <option value="true">Time</option>
                            <option value="false">Goal</option>
                        </select>
                        <span type="text" class="text-danger" asp-validation-for="MissionType"></span>

                    </div>
                    <div class="dropdown col-sm-4 my-3">
                        <button class="btn btn-primary bg-transparent text-dark border-dark w-100 float-start form-select my-3" style="margin-top: 26px !important;" type="button" id="dropdownMenuButton"
                                data-bs-toggle="dropdown" aria-expanded="false">
                            Select Skills
                        </button>
                        <ul class="dropdown-menu " aria-labelledby="dropdownMenuButton" style="overflow-y :auto;height:100px;width: 95%;">
                            @foreach (var skill in Model.Skills)
                            {
                                <li>
                                    <a class="dropdown-item " href="#">
                                        @if (Model.skillids != null && Model.skillids.Contains(skill.SkillId))
                                        {
                                            <div class="form-check">
                                                <input class="form-check-input selectskills" type="checkbox" name="selectedSkills" checked value="@skill.SkillId" id="@skill.SkillId" onchange="Addskill()" />
                                                <label class="form-check-label" for="@skill.SkillId">@skill.SkillName</label>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="form-check">
                                                <input class="form-check-input selectskills" type="checkbox" name="selectedSkills" value="@skill.SkillId" id="@skill.SkillId" onchange="Addskill()" />
                                                <label class="form-check-label" for="@skill.SkillId">@skill.SkillName</label>
                                            </div>
                                        }
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                    <div class="skills-selected">
                    </div>


                </div>
                <div class="row">
                    <div class="col-md-4 d-flex flex-column">
                        <label for="sdate">StartDate</label>
                        <input type="date" id="sdate" class="form-control" asp-for="StartDate">
                    </div>

                    <span type="text" class="text-danger" asp-validation-for="StartDate"></span>

                    <div class="col-md-4 d-flex flex-column my-3">
                        <label for="edate">EndDate</label>
                        <input type="date" id="edate" class="form-control" asp-for="EndDate"  >
                        <span asp-validation-for="EndDate" class="text-danger"></span>
                        <span id="edatevalid" class="text-danger"></span>

                    </div>
                    <div class="col-md-4 d-flex flex-column my-3">
                        <label for="number">Total Seats</label>
                        <input type="number" onkeydown="return handleKeyDown(event)" id="seat" class="form-control" asp-for="TotalSeats">
                        <span type="text" class="text-danger" asp-validation-for="TotalSeats"></span>

                    </div>
                </div>
                <div id="goalfields" class="row d-none my-3">
                    <div class="col-md-6 d-flex flex-column">
                        <label for="seat">Goal Description</label>
                        <input type="text" id="seat" class="form-control" asp-for="GoalObjectiveText">
                        <span type="text" class="text-danger" asp-validation-for="GoalObjectiveText"></span>

                    </div>



                    <div class="col-md-6 d-flex flex-column">
                        <label for="number">Goal Value</label>
                        <input type="number" onkeydown="return handleKeyDown(event)" class="form-control" asp-for="GoalValue">
                        <span type="text" class="text-danger" asp-validation-for="GoalValue"></span>

                    </div>
                </div>
               <div id="timefields" class="row d-none">
                    <div class="col-md-6 d-flex flex-column">
                        <label for="rdead">Registration Deadline</label>
                        <input type="date" id="rdead" class="form-control" asp-for="RegistrationDeadline">
                        <span type="text" class="text-danger" asp-validation-for="RegistrationDeadline"></span>
                        <span id="rdeadvalid" class="text-danger"></span>

                    </div>
                </div>
                <div class="row">
                    <div class="col-6 d-flex flex-column">
                        <label for="status">Status</label>
                        <select class="form-select dropdown-toggle" id="status" asp-for="Status">
                            <option value="true" selected>Active</option>
                            <option value="false">In-Active</option>
                        </select>
                        <span type="text" class="text-danger" asp-validation-for="Status"></span>

                    </div>
                    <div class="col-sm-6 d-flex flex-column">
                        <label for="avail">Availability</label>
                        <select class="form-select dropdown-toggle" id="avail" data-toggle="dropdown" asp-for="Availability">
                            <option>Select Availability</option>
                            <option value="daily">Daily</option>
                            <option value="monthly">Monthly</option>
                            <option value="weekly">Weekly</option>
                            <option value="weekend">Week-end</option>
                        </select>
                    </div>
                     <span type="text" class="text-danger" asp-validation-for="Availability"></span>

                </div>

                <div class="mb-3 mt-2">
                    <label for="Image" class="form-label">Images</label>
                    <input asp-for="Images" class="form-control" accept=".png" type="file" id="Images" multiple>
                </div>
                <span id="imgValidate" class="text-danger"></span>
                @if (Model.Images != null)
                {
                    <div class="mt-2 d-flex flex-wrap" id="showImage">
                        @foreach (var img in Model.Images)
                        {
                            <img src="~/images/Missions/@img.FileName" style="height:120px;width:120px;" />
                        }
                    </div>
                }
                else
                {
                    <div class="mt-2 d-flex flex-wrap" id="showImage">
                    </div>
                }

                <div class="mb-3">
                    <label for="document" class="form-label">Documents</label>
                    <input asp-for="Documents" class="form-control" accept=".doc, .docx, .pdf, .xls, .xlsx" type="file" id="document" multiple>
                    <span type="text" class="text-danger" asp-validation-for="Documents"></span>
                </div>
                <span id="docValidate" class="text-danger"></span>
                @if (Model.Documents != null)
                {
                    <div class="mt-2 d-flex flex-wrap" id="showDocument">
                        @foreach (var doc in Model.Documents)
                        {
                            <div class="rounded-pill border mx-2 p-2">@doc.FileName</div>
                        }
                    </div>
                }
                else
                {

                    <div class="mt-2 d-flex flex-wrap flex-column" id="showDocument"></div>
                }
                <div class="d-flex justify-content-end mt-2 mb-2">
        
        <a asp-action="MissionPage" asp-controller="Admin" class="btn border border-dark btn-outline-dark" style="border-radius:30px;width: 119px;">
                Cancel
            
        </a>
        <button type="submit" class="btn ms-2 btn-outline-warning" style="border-radius:30px;width: 119px;">
            Submit
        </button>
    </div>

            </div>
        </div>
    </form>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js"></script>

    <script src="~/js/MissionPageForAdmin.js"></script>
</body>
