@{
Layout = "~/Views/Admin/AdminPage.cshtml";
}
 @model ciplatform.entities.ViewModels.UserPageForAdminViewModel
   @if (TempData["UserEdited"] != null)
            {
            <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
            <script src="~/lib/jquery/dist/jquery.min.js"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
            <script type="text/javascript">
            toastr.error('@TempData["UserEdited"]');
            </script>
            }
     <head>
              <link rel="stylesheet" href="~/css/AdminUserPage.css">

      <title>Add/Edit User Page</title>
</head>
<form asp-action="addUser" asp-controller="Admin" class="border me-1 ms-1" enctype="multipart/form-data" method="post">
    
    <div class="border d-flex" style="background-color:#f8f9fc; height : 70px; align-items: center;">
        <h3 class="ms-2">Add/Edit User</h3>
    </div>
    <div style="text-align:center">
        <label for="useravatar" >
                            <div class="img-wrap" style="height:50%;cursor:pointer;">

@*            <img src="~/images/user1.png" alt="" id="profileimg" class="rounded-circle" height="100px" width="100px">
         *@           
         @if(Model != null)
            {
                <img src="@Model.Avatar" class="rounded-circle mt-3"  id="profileimg" alt="">


            }
            else
            {
                <img src="~/images/user1.png" class="rounded-circle mt-3"  id="profileimg" alt="">

            }
                    <span id="boot-icon" class="bi bi-pencil icon d-none" style="font-size: 31px; color: rgb(0, 0, 0); opacity: 1; -webkit-text-stroke-width: 0.5px;"></span>  
                    <input type="file" id="file-input" name="formFilesImg" accept="image/*" style="display:none">
                    </div>
        </label>
@*        <input type="file" id="useravatar" name="formFilesImg" hidden />
*@    </div>
    <div class="row d-flex mt-2 ms-2 me-2">
        <div class="col-md-6 col-lg-6 col-sm-12 mt-2">
            <label>First Name</label>
            <input type="text" class="form-control" asp-for="FirstName" />
            @Html.ValidationMessageFor(model => model.FirstName,null, new{
            @class="text-danger",@style="text-size:1rem !important;"
            })
        </div>

        <div class="col-md-6 col-lg-6 col-sm-12 mt-2">
            <label>Last Name</label>
            <input type="text" class="form-control" asp-for="SecondName" />
            @Html.ValidationMessageFor(model => model.SecondName,null, new{
            @class="text-danger",@style="text-size:1rem !important;"
            })
        </div>
    </div>

    <div class="row d-flex ms-2 me-2">
        <input type="text" style="display:none" asp-for="UserId"/>
        <div class="col-md-6 col-lg-6 col-sm-12 mt-2">
            <label>Email Id</label>
            <input type="text" class="form-control" asp-for="Email" />
               @Html.ValidationMessageFor(model => model.Email,null, new{
            @class="text-danger",@style="text-size:1rem !important;"
            })
        </div>
        <div class="col-md-6 col-lg-6 col-sm-12 mt-2 ">
            <label>Password</label>
            <input type="text" class="form-control" asp-for="Password" />
             @Html.ValidationMessageFor(model => model.Password,null, new{
            @class="text-danger",@style="text-size:1rem !important;"
            })
        </div>
    </div>
    <div class="row d-flex ms-2 me-2">
        <div class="col-md-6 col-lg-6 col-sm-12 mt-2">
            <label>Employee Id</label>
            <input type="text" class="form-control" asp-for="EmployeeId" />
        </div>
        <div class="col-md-6 col-lg-6 col-sm-12 mt-2">  
           <label for="number" >Phone Number</label>
            <input type="number" class="form-control"  onkeydown="javascript: return ['Backspace','Delete','ArrowLeft','ArrowRight'].includes(event.code) ? true : !isNaN(Number(event.key)) && event.code!=='Space'" asp-for="PhoneNumber" />
             @Html.ValidationMessageFor(model => model.PhoneNumber,null, new{
            @class="text-danger",@style="text-size:1rem !important;"
            })
        </div>
    </div>
    <div class="row mt-2 ms-2 me-2">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div>
                <label for="country">Country</label>
            </div>
            <div>
                                
                <select id="CountryList" asp-for="Countryid" class="form-control" name="Countryid">
                    @{
                        if(@Model!=null )
                        {
                            <option value="@Model.Countryid" data-countryname="@Model.Countryname">Select Country</option>

                        }
                        else
                        {
                          <option value="Select Country">Select Country</option>

                        }
                    }
@*                     data-name="@Model.SecondName"
*@                </select>
                  <span class="text-danger" asp-validation-for="Countryid"></span>
  @*@Html.ValidationMessageFor(model => model.Countryid,null, new{
            @class="text-danger",@style="text-size:1rem !important;"
            })*@

            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div>
                <label for="city">City</label>
            </div>
            <div>
                <select id="CityList" asp-for="Cityid" class="form-control" name="Cityid">
                 @{    if(@Model!=null )
                        {
                            <option value="@Model.Cityid" data-cityname="@Model.CityName">Select City</option>

                        }
                        else
                        {
                          <option >Select City</option>

                        }
                        }
                </select>
                 @Html.ValidationMessageFor(model => model.Cityid,null, new{
            @class="text-danger",@style="text-size:1rem !important;"
            })
            </div>
        </div>
    </div>
    <div class="mt-2 ms-3 me-2">
        <label>Profile Text</label>
        <textarea class="form-control" rows="5" asp-for="ProfileText"></textarea>
    </div>
      @Html.ValidationMessageFor(model => model.ProfileText,null, new{
            @class="text-danger",@style="text-size:1rem !important;"
            })
    <div class="mt-3 ms-3 me-2">
        <label>Status</label>
        <select id="Status" class="form-control" asp-for="Status">
            <option value="True">Active</option>
            <option value="False">In-Active</option>
        </select>
    </div>

                    <div class="d-flex justify-content-end mt-2 mb-2">
        
        <a asp-action="UserPage" asp-controller="Admin" class="btn border border-dark btn-outline-dark" style="border-radius:30px;width: 119px;">
                Cancel
            
        </a>
        <button type="submit" class="btn ms-2 btn-outline-warning" style="border-radius:30px;width: 119px;">
            Save
        </button>
    </div>
</form>




<script src="https://code.jquery.com/jquery-3.6.3.min.js"
    integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="~/js/UserPageForAdmin.js"></script>
