@{
    Layout = "~/Views/Admin/AdminPage.cshtml";
}

 @using X.PagedList
 @model IPagedList<ciplatform.entities.ViewModels.BannerPageForAdminViewModel>

<head>
    <link rel="stylesheet" href="~/css/AdminUserPage.css">
          <title>Banner Page</title>

</head>
<body>
      @if (TempData["SkillEdited"] != null)
            {
            <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
            <script src="~/lib/jquery/dist/jquery.min.js"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
            <script type="text/javascript">
            toastr.success('@TempData["SkillEdited"]');
            </script>
            } 
            @if (TempData["SkillNotEdited"] != null)
            {
            <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
            <script src="~/lib/jquery/dist/jquery.min.js"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
            <script type="text/javascript">
            toastr.error('@TempData["SkillNotEdited"]');
            </script>
            }
    <!-- Banner page -->
    <h4 class="mt-2 ms-3 border-bottom">Banner</h4>
    <div style="margin-top: 2%;" class=" ms-2 d-flex justify-content-between">
        <div class="col-6 position-relative" role="search">
            <img src="~/images/search.png" alt="search-icon" style="margin-top:10px;" class="position-absolute ps-1">
            <input class="form-control me-2 ps-5 pt-3 pb-3" id="search" type="text" style="height:70%;width:80%;" placeholder="Search"
                   aria-label="Search">
        </div>
        <div class="col-4 d-flex justify-content-end">
            
                    <a class="add btn" asp-action="AddEditBanner" asp-controller="Admin">
                        + Add
                    </a>    
                    </div>
    </div>

    <div class="table-responsive mt-2">
        @{
            if (Model != null)
            {
                <table class="table border overflow-tableEntry">
                    <thead style="background-color:#f8f9fc;">
                        <tr>

                            <th  style=" padding-left: 30px;" scope="col">Image</th>
                            <th scope="col">Title</th>
                            <th scope="col">Sort Order</th>
                            <th scope="col">Status</th>


                            <th style="text-align:center;" scope="col">Action</th>
                        </tr>
                    </thead>


                    <tbody class="userdetails BannerClass">

                        @foreach(var banners in Model)
                        {
                        <tr>
                            <td style="padding-left: 30px;"><img src="@banners.Image"></td>
                            <td ><span>@banners.Title</span></td>
                            <td ><span>@banners.SortOrder</span></td>
                            <td>
                                @if (banners.Status == true)
                                {
                                    <span style="color:#14C506">Active</span>
                                }
                                else
                                {
                                    <span style="color:red">In-Active</span>

                                }
                            </td>
                                <td style="text-align:center;" >
                                <a class="btn iconuser" asp-action="AddEditBanner" asp-controller="Admin" asp-route-bannerId="@banners.BannerId"><i class="bi bi-pencil-square iconForpencil me-2"></i></a>
                                <a class="btn iconuser" onclick="DeleteDataSwal(@banners.BannerId)"><i class="bi bi-trash3 iconForDelete"></i></a>
                                </td>
                            </tr>
                        }
                         </tbody>
                    
                

           
            
                </table>
            }
            else
            {
                <h2 style="text-align:center">No Banner Found</h2>
            }
        }
        <div class="d-flex mt-5 justify-content-center Userpaged">
            <ul class="pagination userpagination">
                @{
                    if (Model == null || Model.PageCount == 0)
                    {
                        <div class="text-center mt-3 mb-4">
                            <p>No Banner found</p>
                      
                        </div>
                    }
                    else
                    {
                        @if (Model.PageCount > 1)
                        {
                            if (Model.HasPreviousPage)
                            {
                                <li class="page-item"  style="cursor: pointer;"> <a class="page-link" aria-label="Previous" id="@Convert.ToInt32(@Model.PageNumber -1)" ><span aria-hidden="true">&laquo;</span>
                                    </a></li>
                            }
                            else
                            {
                                <li class="page-item" style="cursor: not-allowed; pointer-events: none; "> <a class="page-link disabled" aria-label="Previous" > <span aria-hidden="true">&laquo;</span>
                                    </a></li>
                            }
                            @for (int i = 1; i <= Model.PageCount; i++)
                            {
                                if (i == Model.PageNumber)
                                {
                                    <li class="page-item active" style="cursor: pointer;"><a style=" background-color: #F88634;border-color: #F88634;" class="page-link" id="@i">@i</a></li>
                                }
                                else
                                {
                                    <li class="page-item" id="page-link-hover" style="cursor: pointer; "><a class="page-link" id="@i">@i</a></li>
                                }

                            }

                            @if (Model.HasNextPage)
                            {
                                <li class="page-item" style="cursor: pointer;"> <a class="page-link" aria-label="Next" id="@Convert.ToInt32(@Model.PageNumber +1)" ><span aria-hidden="true">&raquo;</span></a></li>
                            }
                            else
                            {
                                <li class="page-item" style="cursor: not-allowed; pointer-events: none;" > <a class="page-link disabled" aria-label="Next" ><span aria-hidden="true">&raquo;</span></a></li>
                            }
                        }
                    }
                }
            </ul>
        </div>
    </div>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

      <script src="https://code.jquery.com/jquery-3.6.3.min.js"
        integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
        <script src="~/js/BannerPageForAdmin.js"></script>
</body>