 @using System.Security.Claims
 @inject IHttpContextAccessor Accessor
        @{
        var userids= @Accessor.HttpContext.Session.GetString("sessionuserid");
        var email = @Accessor.HttpContext.Session.GetString("userId");
        var identity = User.Identity as ClaimsIdentity;
        var firstname = identity?.FindFirst(ClaimTypes.Name)?.Value;
        var surname = identity?.FindFirst(ClaimTypes.Surname)?.Value;
        }  

   <div class="container-fluid ">
      <footer class="d-flex flex-wrap justify-content-between align-items-center py-2 my-2 border-top ">
        <div class="col-md-6 d-flex align-items-center">
      
         <ul class="nav justify-content-center">
          <li class="nav-item"><a asp-action="PrivacyPolicy" asp-controller="Home" class="nav-link px-2 text-body-secondary">Privacy Policy</a></li>
                @{
                    if(@userids != null)
                    {
                                  <li class="nav-item"><a data-bs-toggle="modal" data-bs-target="#ContactUsModal" style="cursor:pointer" class="nav-link px-2 text-body-secondary">Contact Us</a></li>
                    }
                }
           </ul>
                    <div class="modal fade" id="ContactUsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Contact Us</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                          <!--For Time based-->
                                <form id="Contactus">
                                    <div class="modal-body">
                                        <div class="d-flex flex-column">
                                            <label for="mission">Name</label>
                                             <input placeholder="@firstname @surname" disabled type="text"/>

                                        </div>
                                        <div class="d-flex flex-column">
                                            <label for="mission">Email</label>
                                             <input placeholder="@email" disabled type="text"/>

                                        </div>
                                        <div class="d-flex flex-column mt-2">
                                            <label for="subject">Subject</label>
                                            <input type="text"  placeholder="Enter Your Subject" name="Subject"/>
                                        </div>
                                          <span id="Conatctsubject" class="d-none" style="font-size:14px;color:red">Enter a Subject</span>

                                       @*  @Html.ValidationMessageFor(model => model.Subject,null, new{
                                                                @class="text-danger",@style="text-size:1rem !important;"
                                                            })*@
                                        
                                        <div class="d-flex flex-column mt-2">
                                            <label for="message">Message</label>
                                            <textarea id="message" placeholder="Enter your message" name="Message"></textarea>
                                        </div>
                                          <span id="ConatctMessage" class="d-none" style="font-size:14px;color:red">Message is required</span>
                                     @*   @Html.ValidationMessageFor(model => model.Message,null, new{
                                                                @class="text-danger",@style="text-size:1rem !important;"
                                                            })*@
                                    </div>
                               

                                <div class="modal-footer">
                                    <button type="button" id="contactClose" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary" >Save</button>
                                </div>
                                 </form>
                            </div>
                        </div>
                    </div>


       
        </div>

        <ul class="nav col-md-6 justify-content-end">
           ©️ 2019 Optimy.com. All Right Reserved
        </ul>
      </footer>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>

           
            <script src="~/js/ContactUs.js"></script>
     <script src="https://code.jquery.com/jquery-3.6.3.min.js"
        integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    </div>